body {
	background-image: url("C:/Hackaton/SideProjectFile/public/raw-templates/Images/LoginPageBackground.jpg");
  padding: top 250px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login_container{
  padding-top: 200px;
  width: 300px;
  margin: 0 auto 10px;
  text-align: center
}