<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Year Hackaton</title>
    <!-- Прикол1 -->
    <link href="..\css\bootstrap.css" rel="stylesheet">
    <link href="..\css\edit-quest.css" rel="stylesheet">
  </head>

  <body>
  <div class = "page_container" id = "edit-quest">
    <div class="form_container">
      <form class="form-signin">
        <h2 class = "edit_2ndheader">Edit your quest</h2>
        <label for="inputQuest" class="sr-only">Your quest</label>
        <div class = "questtext"> <textarea rows="10", cols = "45" name = "text" placeholder = "Quest text"></textarea></div>
        <label for="inputEmail" class="sr-only">Your mail</label>
        <div> <textarea rows="1", cols = "50" name = "email" placeholder = "Enter Email here"></textarea></div>
        <button class="btn btn-lg btn-primary btn-edit" type="submit">Edit</button>
      </form>
    </div> 
  </div>
  </body>
</html>