<html lang="en">
<head>
  <meta charset="utf-8">
  <title>New Year Hackaton</title>
  <link href="..\css\bootstrap.css" rel="stylesheet">
  <link href="..\css\guess-who.css" rel="stylesheet">
</head>

<body>
<div class = "page_container" id = "guess-who">
 <div class="text_container">
    <div id="title">Here is  your congratulation</div>
    <div class="video_container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/LI7-Cu-9wWM" frameborder="0" allowfullscreen></iframe>
    </div>
    <button class="btn btn-lg btn-primary guesswho_btn" type="submit">To login page</button>
  </div>
</div>
</body>
</html>