<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Year Hackaton</title>
    <!-- Прикол1 -->
    <link href="..\css\bootstrap.css" rel="stylesheet">
    <link href="..\css\login-page.css" rel="stylesheet">
  </head>

  <body>
  <div class = "page_container" id="login-page">
    <div class="login_container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Login</h2>
        <label for="inputEmail" class="sr-only">Enter your email adress here</label>
        <div class = "login_password_container"> <textarea rows="1", cols = "50" name = "login" placeholder = "Login"></textarea></div>
        <label for="inputPassword" class="sr-only">Enter your password here</label>
        <div class = "login_password_container"> <textarea rows="1", cols = "50" name = "password" type = "" placeholder = "Password"></textarea></div> 
        <button class="btn btn-lg btn-primary btn-success" type="submit">Login</button>
      </form>
    </div> 
    </div>
  </body>
</html>