<html>
  <head>
    <title>New Year Hackaton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="..\css\bootstrap.css" rel="stylesheet">
    <link href="..\css\main-page-do-quest.css" rel="stylesheet">
  </head>
  <body>
  <div class = "buttons_container">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create quest</button>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Do quest</button>
  </div>
  </body>
</html>