body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.page_container{
  color: white;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url("../images/current.jpg");
}
.form_container{
  margin: 0 auto 20px;
	display: block;
	padding-top: 50px;
	text-align: center;
}
.btn-create {
  color: #fff;
  margin: 15px;
  background-color:#449d44;
  border-color: #2e6da4;
}
.questtext{
	position: absolute;
	height: 350px;
	width: 450px;
}
.emailadress{
	width: 250px;
}
.btn{
	color: white;
	margin: 0 auto 30px;
	background-color: #8B4513;
}
.form-createquest{
  margin: 0 auto 10px;
  width: 450px;
  height: 100px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-enteremail{	
  margin: 0 auto 10px;
  text-align: center;
	display: block;
  width: 40%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}