<div class = "page_container" id="login-page">
  <div class="login_container">
    <form class="form-signin">
      <h2 class="form-signin-heading">Login</h2>

      <label for="inputEmail" class="sr-only">Enter your username here</label>
      <input type="username" 
      ng-model="auth.username"
      id="inputEmail" 
      class="form-control" 
      placeholder="Username" 
      required 
      autofocus>

      <label for="inputPassword" class="sr-only">Enter your password here</label>
      <input type="password"
      ng-model="auth.password"
      id="inputPassword" 
      class="form-control" 
      placeholder="Password" 
      required> 

      <button class="btn btn-lg btn-primary btn-success" type="submit" ng-click="auth.login()">Login</button>
    </form>
  </div>
</div>
