<div class = "page_container" id="main">
  <div class = "list_container">
    <div class = "left_container">
      <div class = "headingtext_container">

        <p>Your Quests</p>
      </div>
      <button  class="btn btn-lg btn-primary top_button" >Create quest</button>
      <div class="list-group">
        <a href="#" class="list-group-item">First quest</a>
        <a href="#" class="list-group-item">Second quest</a>
        <a href="#" class="list-group-item">Third quest</a>
      </div>
    </div>
    <div class = "right_container">
      <div class = "headingtext_container">
        <p>Quest list</p>
      </div>
      <button  class="btn btn-lg btn-primary top_button" >Your current quest</button>
      <div class="list-group">
        <a href="#" class="list-group-item">All quest1</a>
        <a href="#" class="list-group-item">All quest2</a>
        <a href="#" class="list-group-item">All quest3</a>
      </div>
    </div>
  </div>
</div>
