<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Year Hackaton</title>
    <!-- Прикол1 -->
    <link href="..\css\bootstrap.css" rel="stylesheet">
    <link href="..\css\your-current-quest.css" rel="stylesheet">
  </head>

  <body>
  <div class = "page_container">
    <div class="form_container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Your current quest</h2>
        <p>Quest text</p>
        <div type="text" id="inputQuest" class="form-createquest" placeholder="Quest text" required autofocus></div>
        <p>Recipient email </p>
        <div type="email" id="inputEmail" class="form-enteremail" placeholder="Email adress" required autofocus></div>
        <p>Enter your video url</p>
        <input type="url" id="inputEmail" class="form-enteremail" placeholder="Video ref" required autofocus>
        <button class="btn" type="submit">Confirm</button>
      </form>
    </div>
    </div>
  </body>
</html>